* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: "Montserrat", sans-serif, sans-serif;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: rgb(36, 163, 255);
  cursor: pointer;
  border-bottom: transparent 1px solid;
}

a:hover {
  border-bottom: 1px solid rgb(36, 163, 255);
}

body {
  background: url;
}

.logo_wrapper {
  background-image: url(../images/svg/symbol_h.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.blue_bg {
  background: var(--Gradient-Supersoft, linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%));
  padding-bottom: 60px;
  border-radius: 0px 0px 12px 12px;
}

.dot_separator {
  margin-left: 0.38rem;
  margin-right: 0.38rem;
}

.languages_header {
  display: flex;
  padding: 10px 15px;
  background-color: transparent;
}

.language_button_block {
  display: inline-block;
}

.services_element {
  min-width: auto;
  max-width: 30.83rem;
  height: auto;
}

.tablet_header {
  display: flex;
}

.language_button {
  padding: 5px 7px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
}

.services_container {
  display: flex;
  flex-wrap: wrap;
  gap: 3.75rem;
  justify-content: center;
}

.language_button.active {
  background-color: rgb(240, 20, 90);
  border-radius: 8px;
}

.header_phone_number {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 15px;
  color: var(--Basic-White, #FFF);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.wrapper_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.88rem;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 129px;
  position: relative;
}

.ico_header {
  display: flex;
  position: relative;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  gap: 4px;
}

.hlegallaw {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}

.ico_header span {
  position: relative;
  color: rgb(255, 255, 255);
}

.burger_menu {
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;
}

.menu_list {
  display: flex;
  gap: 0.94rem;
  list-style: none;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: rgb(255, 255, 255);
}

.heading_one {
  text-align: center;
  margin-left: 3.75rem;
  margin-right: 3.75rem;
  color: rgb(255, 255, 255);
}

.button_scroll {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  padding-bottom: 30px;
}

.button_scroll button {
  background-color: transparent;
}

.content_wrapper {
  display: flex;
  flex-direction: column;
}

.scroll_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 2rem;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

.scroll_item {
  color: rgb(179, 179, 186);
  font-weight: 700;
  font-size: 30px;
  white-space: nowrap;
}

.scroll_item.active {
  background: var(--Gradient-Red-Text, linear-gradient(90deg, rgb(240, 20, 90) 0.84%, rgb(239, 128, 128) 99.96%));
  -webkit-background-clip: text;
  color: transparent;
}

.h2_mobile {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 1.88rem;
  margin-bottom: 1.88rem;
  color: rgb(255, 255, 255);
}

.h2_mobile.border {
  border-top: 4px solid grey;
  margin-top: 0px;
  padding-top: 30px;
}

.paragraph_introduction {
  margin-top: 1.88rem;
  margin-bottom: 1.88rem;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: rgb(179, 179, 186);
}

.cap {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 1.88rem;
  margin-bottom: 1.88rem;
  color: rgb(36, 163, 255);
  margin-bottom: 10px;
}

.hero_header {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--Gradient-Red-Text, linear-gradient(90deg, rgb(240, 20, 90) 0.84%, rgb(239, 128, 128) 99.96%));
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 30px;
}

.icon_wrapper {
  margin-top: 1.88rem;
  margin-bottom: 1.88rem;
}

.icon_wrapper svg {
  padding: 14px;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
}

.h3_regular {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: rgb(36, 163, 255);
  margin-top: 30px;
  margin-bottom: 15px;
}

.p_regular {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

.layered_block_2 {
  padding-bottom: 10px;
  margin: 0 20px;
  border-radius: 0px 0px 12px 12px;
  background-color: #CACADB;
}

.layered_block_3 {
  padding-bottom: 10px;
  margin: 0 40px;
  border-radius: 0px 0px 12px 12px;
  background-color: #E7E7F2;
}

.glasses_guy {
  background-size: cover;
}

.h3_caps {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: rgb(36, 163, 255);
}

.hero_mobile {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--Gradient-Red-Text, linear-gradient(90deg, rgb(240, 20, 90) 0.84%, rgb(239, 128, 128) 99.96%));
  -webkit-background-clip: text;
  color: transparent;
}

.hero_mobile.quote {
  margin-bottom: 30px;
}

.quote_block {
  display: flex;
  padding: 30px;
  background-color: rgb(245, 245, 250);
}

.img_container {
  height: 100%;
  width: 25rem;
}

.quote_block img {
  padding-bottom: 30px;
  width: 25rem;
  height: auto;
}

.hero_regular.quote {
  margin-top: 5px;
  margin-bottom: 30px;
}

.menu_dots {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 60px;
  margin-top: 1.88rem;
}

.dot_svg {
  background-color: transparent;
}

.dot_svg.active svg {
  opacity: 1 !important;
}

.trust {
  margin-top: 1.88rem;
  margin-bottom: 1.88rem;
  display: flex;
  justify-content: center;
  color: rgb(50, 50, 100);
}

.sponsor_block {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 7.5rem;
  min-width: 16rem;
  flex: 1;
}

.sponsor_blocks_container {
  display: flex;
  flex-wrap: wrap;
}

.hillel_color {
  background-color: #1C4280;
}

.wannabiz_color {
  background-color: #143646;
}

.orange_color {
  background-color: #F48B30;
}

.a3dlook_color {
  background-color: #9E4DC3;
}

.adtelligent_color {
  background-color: #E2E2E4;
}

.clickky_color {
  background-color: #C71C36;
}

.eco_leasing_color {
  background-color: #E0F7FA;
}

.infratek_color {
  background-color: #FBE9E7;
}

.city_park_color {
  background-color: #282240;
}

.art_print_studio_color {
  background-color: #1D4568;
}

.ultimate_card_color {
  background-color: #000000;
}

.publications {
  margin-top: 1.88rem;
  margin-bottom: 1.88rem;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 1.88rem;
  background-color: rgb(245, 245, 250);
}

.publication_block {
  max-width: 19rem;
  max-height: 32rem;
  background-color: rgb(255, 255, 255);
}

.publications h3 {
  margin-bottom: 5px;
}

.publications img {
  margin-top: 1.88rem;
  margin-bottom: 1.88rem;
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: auto;
}

.publication_cards {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 1.88rem;
  justify-content: center;
}

.h4_regular {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: rgb(36, 163, 255);
}

.publication_date {
  color: rgb(179, 179, 186);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.publication_text_card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.publication_text {
  padding-top: 15px;
  border-top: 4px solid rgb(230, 230, 240);
}

.p_small {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

footer {
  margin-top: 1.88rem;
  margin-bottom: 1.88rem;
}

.footer_cube {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
  border-top: 2px solid rgb(230, 230, 240);
}

.footer_cube svg {
  margin-top: 21px;
}

.footer_cube p {
  margin-top: 30px;
}

.footer_phone_number {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: rgb(50, 50, 100);
}

.grey_text {
  color: rgb(179, 179, 186);
}

.blue_text {
  color: rgb(50, 50, 100);
}

.margin_container {
  margin-left: 30px;
  margin-right: 30px;
}

@media (max-width: 767px) {
  .sponsor_block:nth-child(n+7) {
    display: none;
  }
  .dot_separator {
    display: none;
  }
  .tablet_header :not(.header_phone_number) {
    display: none;
  }
  .language_button_block {
    margin-right: auto;
  }
  .menu_list {
    display: none;
  }
  .languages_header {
    background-color: rgba(245, 245, 250, 0.2);
  }
  .sponsor_blocks_container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .sponsor_block {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .blue_bg {
    padding-bottom: 3.75rem;
  }
  .margin_container {
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }
  .services_element {
    min-width: none;
    max-width: 18rem;
  }
  .quote_block {
    padding-bottom: 1.88rem;
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }
  .quote_block_text {
    padding: 1.88rem;
  }
  .sponsor_block {
    min-width: 16rem;
    flex: 1;
  }
  .sponsor_blocks_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .publications {
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }
  .publication_block:nth-child(3) {
    max-width: 100%;
    max-height: none;
  }
  .button_scroll {
    margin-top: 26rem;
  }
  .languages_header {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0 0;
  }
  .header_phone_number {
    margin-right: 0px;
    margin-left: 0px;
  }
  header {
    display: flex;
    flex-direction: column;
    padding-top: 3.12rem;
    margin-left: 3.75rem;
    margin-right: 3.75rem;
    gap: 1.88rem;
  }
  .tablet_header {
    display: flex;
    align-items: center;
  }
  .burger_menu {
    display: none;
  }
  .ico_header > *:not(.hlegallaw) {
    display: none;
    min-width: 8.125rem;
    min-height: 3.75rem;
  }
  .wrapper_header {
    margin-left: 0px;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .scroll_container {
    flex-direction: column;
  }
  .h2_mobile.border {
    border-top: none;
  }
  .content_wrapper {
    flex-direction: row;
    align-items: center;
  }
  .scroll_container {
    flex-direction: column;
    overflow-x: visible;
  }
  .intro {
    padding-left: 3.75rem;
    border-left: 4px solid rgba(230, 230, 240, 0.3);
  }
  .publication_block {
    max-width: 17.58rem;
    max-height: 34.75rem;
  }
  .services_element {
    max-width: 16.33rem;
  }
}/*# sourceMappingURL=style.css.map */