@import "../scss/colors.scss";

@import "../scss/fonts.scss";

@import "../scss/mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: $font_family_primary, sans-serif;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $light_blue_regular;
  cursor: pointer;
  border-bottom: transparent 1px solid;;
}

a:hover {
  border-bottom: 1px solid $light_blue_regular;
}


body {  
  background: url;
}

.logo_wrapper {
  background-image: url(../images/svg/symbol_h.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.blue_bg {
  background-color: $blue_regular;
  padding-bottom: 60px;
  border-radius: 0px 0px 12px 12px;
}

.languages_header {
  display: flex;
  padding: 10px 15px;
  background-color: rgba($grey_bg, 0.2);
}

.language_button_block {
  display: inline-block;
}

.language_button {
  padding: 5px 7px;
  background-color: rgba(255, 255, 255, 0);
  color: $basic_white;
}

.language_button.active {
  background-color: $accent_red;
  border-radius: 8px;
}

.header_phone_number {
  @include center-flex ;
  margin-left: auto;
  margin-right: 15px;
  color: var(--Basic-White, #FFF);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }

  .wrapper_header {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 129px;
  }

  .ico_header {
    display: flex;
    position: relative;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    gap: 4px;
  }

.hlegallaw {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}

.ico_header span {
  position: relative;
  color: $basic_white;
}

.burger_menu {
  position: absolute;
  right: 0px;
}

.heading_one {
  text-align: center;
  margin: 0 auto;
  color: $basic_white;
}
 
.button_scroll {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  padding-bottom: 30px;;
}

.button_scroll button {
  background-color: transparent;
}
 

.scroll_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 2rem;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

.scroll_item {
  color: $grey_text;
  font-weight: 700;
  font-size: 30px;
  white-space: nowrap;
}

.scroll_item.active {
  background: $gradient_red_text;
  -webkit-background-clip: text;
  color: transparent;
}

.h2_mobile {
  @include h2_mobile;
  @include margin_mobile_vertical;
  color: $basic_white;
}

.h2_mobile.border {
  border-top: 4px solid grey;
  margin-top: 0px;
  padding-top: 30px;
}

.paragraph_introduction {
  @include margin_mobile_vertical;
  font-family: $font_family_primary;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: $grey_text;
}

.cap {
  @include center-flex;
  @include h3_caps;
  @include margin_mobile_vertical;
  color: $light_blue_regular;
  margin-bottom: 10px;
}

.hero_header {
  @include hero_mobile;
  margin-bottom: 30px;
}

.icon_wrapper {
  @include margin_mobile_vertical;
}

.icon_wrapper svg {
  padding: 14px;
  background-color: $basic_white;
  border-radius: 24px;
}

.h3_regular {
  @include h3_regular;
}

.p_regular {
  @include p_regular;
  margin-bottom: 30px;
}

.layered_block_2 {
  padding-bottom: 10px;
  margin: 0 20px;
  border-radius: 0px 0px 12px 12px;
  background-color: #CACADB;
}

.layered_block_3 {
  padding-bottom: 10px;
  margin: 0 40px;
  border-radius: 0px 0px 12px 12px;
  background-color: #E7E7F2;
}


.glasses_guy {
  max-width: 100%;
  background-size: cover;
}

.h3_caps {
  @include h3_caps;
  @include center-flex;
  color: $light_blue_regular;
}

.hero_mobile {
  @include hero_mobile;
}

.hero_mobile.quote {
  margin-bottom: 30px;
}

.quote_block {
  padding: 30px;
  background-color: $grey_bg;
}

.quote_block img {
  padding-bottom: 30px;;
}

.hero_regular.quote {
  margin-top: 5px;
  margin-bottom: 30px;
}

.menu_dots {
  @include center_x;
  gap: 15px;
  margin-bottom: 60px;
  margin-top: $tablet-margin_2;
}

.dot_svg {
  background-color: transparent;
}

.dot_svg.active svg{
  opacity: 1 !important;
}

.trust {
  @include margin_mobile_vertical;
  @include center_x;
  color: $blue_regular;
}

.sponsor_block_container {
  margin-bottom: 30px;
}

.sponsor_block {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 7.5rem;
}

// sponsor colors section

.hillel_color {
  background-color: #1C4280;
}

.wannabiz_color {
  background-color: #143646;
}

.orange_color {
  background-color: #F48B30;
}

.a3dlook_color {
  background-color: #9E4DC3;
}

.adtelligent_color {
  background-color: #E2E2E4;
}
.clickky_color {
  background-color: #C71C36; // Corrected color for Clickky
}

.eco_leasing_color {
  background-color: #E0F7FA;
}

.infratek_color {
  background-color: #FBE9E7;
}

.city_park_color {
  background-color: #282240; // Corrected color for City Park
}

.art_print_studio_color {
  background-color: #1D4568; // Corrected color for Art Print Studio
}

.ultimate_card_color {
  background-color: #000000;
}

// sponsor colors section end

.publications {
  @include margin_mobile_vertical;
  @include margin_mobile_horizontal;
}

.publications h3 {
  margin-bottom: 5px;
}

.publications img {
  @include margin_mobile_vertical;
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: auto;
  
}

.h4_regular {
  @include h4_regular;
  color: $light_blue_regular; 
}

.publication_date {
  color: $grey_text;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.publication_text_card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.publication_text {
  padding-top: 15px;
  border-top: 4px solid $grey_separator;;

}

.p_small {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

footer {
  @include margin_mobile_vertical;
}

.footer_cube {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 30px;;
  border-top: 2px solid $grey_separator;
}

.footer_cube svg {
  margin-top: 21px;
}

.footer_cube p {
  margin-top: 30px;
}

.footer_phone_number {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $blue_regular;
}

.grey_text {
  color: $grey_text;
}

.blue_text {
  color: $blue_regular;
}

.margin_container {
  @include margin_mobile_horizontal;
}

// Media Queries

// Mobile
@media (max-width: 767px) {
  .sponsor_block:nth-child(n+7) {
    display: none;
  }
}
// Tablet

@media (min-width: 601px) and (max-width: 1024px) {
  .services_container {
    display: flex;
    flex-wrap: wrap;
    gap: $tablet-margin;
  }

  .blue_bg {
    padding-bottom: $tablet-margin;
  }
  .margin_container {
    @include margin_tablet_horizontal;
  }

  .services_element {
    min-width: none;
    max-width: 18rem;
  }

  .quote_block {
    padding-bottom: 1.88rem;
    @include margin_tablet_horizontal;
  }

  .quote_block_text {
    padding: 1.88rem;
  }

  .sponsor_block {
    min-width: 16rem;
    flex: 1;
  }

  .sponsor_blocks_container {
    display: flex;
    flex-wrap: wrap;
    
  }
}