* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: "Montserrat", sans-serif, sans-serif;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: rgb(36, 163, 255);
  cursor: pointer;
  border-bottom: transparent 1px solid;
}

a:hover {
  border-bottom: 1px solid rgb(36, 163, 255);
}

body {
  background: url;
}

.logo_wrapper {
  background-image: url(../images/svg/symbol_h.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blue_bg {
  background-color: rgb(50, 50, 100);
  padding-bottom: 60px;
  border-radius: 0px 0px 12px 12px;
}

.languages_header {
  display: flex;
  padding: 10px 15px;
  background-color: rgba(245, 245, 250, 0.2);
}

.language_button_block {
  display: inline-block;
}

.language_button {
  padding: 5px 7px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
}

.language_button.active {
  background-color: rgb(240, 20, 90);
  border-radius: 8px;
}

.header_phone_number {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 15px;
  color: var(--Basic-White, #FFF);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.wrapper_header {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 129px;
}

.ico_header {
  display: flex;
  position: relative;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  gap: 4px;
}

.hlegallaw {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}

.ico_header span {
  position: relative;
  color: rgb(255, 255, 255);
}

.burger_menu {
  position: absolute;
  right: 0px;
}

.heading_one {
  text-align: center;
  margin: 0 auto;
  color: rgb(255, 255, 255);
}

.button_scroll {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  padding-bottom: 30px;
}

.button_scroll button {
  background-color: transparent;
}

.scroll_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 2rem;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

.scroll_item {
  color: rgb(179, 179, 186);
  font-weight: 700;
  font-size: 30px;
  white-space: nowrap;
}

.scroll_item.active {
  background: var(--Gradient-Red-Text, linear-gradient(90deg, rgb(240, 20, 90) 0.84%, rgb(239, 128, 128) 99.96%));
  -webkit-background-clip: text;
  color: transparent;
}

.h2_mobile {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
}

.h2_mobile.border {
  border-top: 4px solid grey;
  margin-top: 0px;
  padding-top: 30px;
}

.paragraph_introduction {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: rgb(179, 179, 186);
}

.cap {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: rgb(36, 163, 255);
  margin-bottom: 10px;
}

.hero_header {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--Gradient-Red-Text, linear-gradient(90deg, rgb(240, 20, 90) 0.84%, rgb(239, 128, 128) 99.96%));
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 30px;
}

.icon_wrapper {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.icon_wrapper svg {
  padding: 14px;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
}

.h3_regular {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: rgb(36, 163, 255);
  margin-top: 30px;
  margin-bottom: 15px;
  margin-right: 30px;
  margin-left: 30px;
}

.p_regular {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  color: rgb(255, 255, 255);
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.layered_block_2 {
  padding-bottom: 10px;
  margin: 0 20px;
  border-radius: 0px 0px 12px 12px;
  background-color: #CACADB;
}

.layered_block_3 {
  padding-bottom: 10px;
  margin: 0 40px;
  border-radius: 0px 0px 12px 12px;
  background-color: #E7E7F2;
}

.glasses_guy {
  max-width: 100%;
  background-size: cover;
}

.h3_caps {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: rgb(36, 163, 255);
}

.hero_mobile {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--Gradient-Red-Text, linear-gradient(90deg, rgb(240, 20, 90) 0.84%, rgb(239, 128, 128) 99.96%));
  -webkit-background-clip: text;
  color: transparent;
}

.hero_mobile.quote {
  margin-bottom: 30px;
}

.quote_block {
  padding: 30px;
}

.quote_block img {
  padding-bottom: 30px;
}

.hero_regular.quote {
  margin-top: 5px;
  margin-bottom: 30px;
}

.menu_dots {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 60px;
}

.dot_svg {
  background-color: transparent;
}

.dot_svg.active svg {
  opacity: 1 !important;
}

.trust {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  color: rgb(50, 50, 100);
}

.sponsor_block_container {
  margin-bottom: 30px;
}

.sponsor_block {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 7.5rem;
}

.hillel_color {
  background-color: #1C4280;
}

.wannabiz_color {
  background-color: #143646;
}

.orange_color {
  background-color: #F48B30;
}

.a3dlook_color {
  background-color: #9E4DC3;
}

.adtelligent_color {
  background-color: #E2E2E4;
}

.publications {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.publications h3 {
  margin-bottom: 5px;
}

.publications img {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: auto;
}

.h4_regular {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: rgb(36, 163, 255);
}

.publication_date {
  color: rgb(179, 179, 186);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.publication_text_card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.publication_text {
  padding-top: 15px;
  border-top: 4px solid rgb(230, 230, 240);
}

.p_small {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

footer {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.footer_cube {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
  border-top: 2px solid rgb(230, 230, 240);
}

.footer_cube svg {
  margin-top: 21px;
}

.footer_cube p {
  margin-top: 30px;
}

.footer_phone_number {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: rgb(50, 50, 100);
}

.grey_text {
  color: rgb(179, 179, 186);
}

.blue_text {
  color: rgb(50, 50, 100);
}/*# sourceMappingURL=style.css.map */